@media only screen and (max-width: 768px) {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav_bar_container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3rem;
    background: #3c3a39;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1.5rem;
    z-index: 222;
    align-items: center;
  }

  .nav_bar_container.active {
    display: flex;
    justify-content: flex-end;
  }

  .nav_bar_logo {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    transition: 0.5s ease-in-out;

    &:hover {
      color: #ff6b00;
    }
  }

  .nav_bar_logo.active {
    display: none;
    transition: 0.7s ease-in-out;
  }

  .nav_links {
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: 32px;
    margin-left: 40px;
    line-height: 44px;
    text-decoration: none;
    color: #fff5e1;
    transition: 0.5s ease-in-out;

    &:hover {
      color: #ff6b00;
    }
  }

  .menu_line {
    width: 87.2%;
    margin: 0 auto;
    border: 0.01rem solid #6f6c6b;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    transition: 0.5s ease-in-out;
  }

  #mail_icon {
    display: none;
  }

  .burger_menu {
    display: block;
  }

  .bar {
    display: block;
    width: 1.8rem;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .burger_menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger_menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger_menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 48px;
    left: -110%;
    padding: 3rem 0;
    width: 100vw;
    height: 100vh;
    background: #3c3a39;
    transition: 0.5s;
  }

  .nav_menu.active {
    left: 0;
  }

  .page_container {
    align-items: flex-start;
    position: relative;
    padding: 7.5rem 1.5rem;
    width: 100vw;
    height: 100vh;
    background: #1c1a19;
    background-image: url("Assets/Illustrations/illustration.png");
    background-repeat: no-repeat;
    background-size: 9.2rem 22.8rem;
    background-position-x: right;
    background-position-y: bottom;
  }

  .headline {
    display: flex;
    width: 20.4rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .main_text {
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Crete Round', serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 5.1rem;
    margin: 0;
    color: #ff6b00;
    animation-name: slideright;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  @keyframes slideright {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  .subject_text {
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #fff5e1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    height: 1.6rem;
    width: 20.4rem;
  }

  .description_text {
    width: 20.4rem;
    height: 7.75rem;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.005rem;
    line-height: 1.6rem;
  }

  .social_media {
    list-style: none;
    display: flex;
    flex: none;
    order: 3;
    flex-grow: 0;
    width: 12.5rem;
    height: 2.5rem;
    left: 1.5rem;
    margin-top: 1.5rem;
  }

  .portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    padding: 7.5rem 1.5rem;
    gap: 1.5rem;
    background: #e5e5e5;
  }

  .portfolio_title {
    font-family: 'Crete Round', serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.25rem;
    letter-spacing: 0.01rem;
    text-align: center;
    color: #1c1a19;
  }

  .separation {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3.1rem;
    color: #100f0f;
  }

  .feature-project_preview_image {
    background-image: url("Architectural.jpg");
    background-size: cover;
    height: 14.8rem;
    width: 100%;
    border-radius: 0.5rem;
  }

  .feature_project_info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1.5rem;
  }

  .feature-project_title {
    font-family: 'Crete Round', serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.75rem;
    letter-spacing: 0;
    text-align: left;
    color: #091e42;
  }

  .feature-project_description {
    width: 20.4rem;
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
  }

  .feature-project_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feature-skill_container {
    padding: 0.6rem 0.75rem;
    border: 0.06rem solid #1c1a19;
    list-style: none;
  }

  .feature-skill {
    font-family: 'Inter', serif;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.25rem;
    letter-spacing: 0.05rem;
    color: #091e42;
  }

  .feature-project_link {
    width: 7.75rem;
    height: 3rem;
    padding: 0.75rem;
    border: none;
    color: #fff;

    &:enabled {
      background-color: #f55800;
    }

    &:hover {
      background-color: #fff5e1;
      border: 0.06rem solid #f55800;
      text-decoration-color: #f55800;
      color: #f55800;
    }

    &:disabled {
      background: #f4f1f0;
      color: #5b5957;
    }

    &:active {
      background-color: #e05304;
      color: #fff;
    }
  }

  .feature-link_text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.06rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.03rem;
  }

  .project_container_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 20.4rem;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url("ecommerce.png");
    background-size: cover;
  }

  .project_container_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 20.4rem;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(university.png);
    background-size: cover;
  }

  .project_container_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 20.4rem;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(company.jpg);
    background-size: cover;
  }

  .project_container_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 20.4rem;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(business.jpg);
    background-size: cover;
  }

  .project_container_5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 20.4rem;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(banking.jpg);
    background-size: cover;
  }

  .project_container_6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 20.4rem;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(trading.jpg);
    background-size: cover;
  }

  .project_title {
    font-family: 'Crete Round', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    line-height: 2.75rem;
    letter-spacing: 0.02em;
    margin-top: 4.5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align: left;
    color: #fff;
  }

  .project_description {
    font-family: 'Inter', serif;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align: left;
    color: #fff;
  }

  .project_skills {
    height: 2.5rem;
    margin-left: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .skill_container {
    padding: 0.6rem 0.75rem;
    background: rgba(255, 255, 255, 0.24);
  }

  .skill {
    font-family: 'Inter', serif;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.25rem;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
  }

  .project_link {
    width: 20.4rem;
    height: 3rem;
    left: 0;
    top: 0;
    border: none;
    color: #fff;

    &:enabled {
      background-color: #f55800;
    }

    &:hover {
      background-color: #fff5e1;
      border: 1px solid #f55800;
      color: #f55800;
      margin-bottom: -0.4%;
    }

    &:disabled {
      background: #f4f1f0;
      color: #5b5957;
    }

    &:active {
      background-color: #e05304;
      color: #fff;
    }
  }

  .about_me {
    position: relative;
    width: 100%;
    background: #1c1a19;
    padding-top: 7.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3.1rem;
    background-image: url(resume_illustration.png);
    background-repeat: no-repeat;
    background-size: 10rem 15.6rem;
    background-position-x: right;
    background-position-y: 24rem;
  }

  .bio_header {
    font-family: 'Crete Round', sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 5.5rem;
    letter-spacing: 0.05em;
    text-align: left;
    color: #ff6b00;
  }

  .portfolio_thumbnails {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
    background: #e5e5e5;
  }

  .bio {
    margin-top: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #f4f5f7;
    text-align: left;
  }

  .resume_link {
    text-decoration: none;
  }

  .resume_button {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
    border: none;
    background: #ff6b00;
    color: #fff;

    &:enabled {
      background-color: #f55800;
    }

    &:hover {
      background-color: #fff5e1;
      border: 0.06rem solid #f55800;
      color: #f55800;
    }

    &:disabled {
      background: #f4f1f0;
      color: #5b5957;
    }

    &:active {
      background-color: #e05304;
      color: #fff;
    }
  }

  .link_text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.06rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .separation_line {
    position: relative;
    margin-top: 13rem;
    color: #f1eaea;
  }

  .knowledge {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0.5rem;
    bottom: 0.18rem;
    padding-top: 7.5rem;
    padding-bottom: 3.1rem;
    gap: 2rem;
  }

  .competent {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  .category_style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bullet_1 {
    width: 1.12rem;
    height: 1.12rem;
    background: #ff6b00;
    transform: rotate(-45deg);
    margin-right: 0.9rem;
  }

  .bullet_2 {
    width: 1.12rem;
    height: 1.12rem;
    background: #ff6b00;
    margin-right: 1.25rem;
  }

  .bullet_3 {
    width: 1.12rem;
    height: 1.12rem;
    background: #ff6b00;
    border-radius: 9.4rem;
    margin-right: 0.9rem;
  }

  .category {
    font-family: 'InaiMathi', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    list-style: none;
  }

  .competency {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.75rem;
    text-align: center;
    color: #fff;
    margin-top: 1.5rem;
    list-style: none;
  }

  .contact_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.4rem 1.4rem;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100vw;
    background-color: #fff;
  }

  .contact_me_form {
    text-align: center;
    color: #172b4d;
    width: 20.4rem;
    margin-top: 4.6rem;
  }

  .contact-bio {
    width: 20.4rem;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    line-height: 2.75rem;
  }

  #name-id,
  #email-id {
    width: 20.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5rem;
    border: none;
    outline: none;
    color: #979493;
    margin-left: 1rem;

    &:valid {
      outline: 0.09rem solid green;
    }
  }

  .seperation_line {
    width: 20.4rem;
    margin: 0 auto;
    border: 0.06rem solid #c9bebb;
    margin-top: 0.5rem;
  }

  .seperation_line_1 {
    width: 20.4rem;
    margin: 0 auto;
    border: 0.06rem solid #c9bebb;
    margin-top: 0.5rem;
    margin-bottom: 10%;
  }

  #text-area {
    background-color: #eeeae8;
    width: 20.4rem;
    border: none;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    color: #3c3a39;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 0.9rem;
    padding: 1rem;
  }

  #submit {
    width: 8.1rem;
    padding: 0.75rem;
    background-color: #ff6b00;
    border: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.06rem;

    &:enabled {
      background-color: #f55800;
    }

    &:hover {
      background-color: #fff5e1;
      border: 0.06rem solid #f55800;
      color: #f55800;
    }

    &:disabled {
      background: #f4f1f0;
      color: #5b5957;
    }

    &:active {
      background-color: #e05304;
      color: #fff;
    }
  }

  .seperate_line_2 {
    border: 0.06rem solid #dbd8d7;
  }

  .error_m {
    color: #f00909;
    display: block;
  }

  .success_m {
    color: #3bc456;
    display: block;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 4rem;
    align-content: center;
  }

  .contact-list {
    display: flex;
    list-style: none;
    padding: 1.5rem;
    width: 12.5rem;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }

  .nav_bar_container {
    display: flex;
    justify-content: space-between;
    height: 48px;
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
    background: #3c3a39;
    align-items: center;
    padding: 5px 8.1%;
    z-index: 222;
  }

  .nav_bar_logo {
    width: 100px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #fff;
    transition: 0.5s ease-in-out;

    &:hover {
      color: #ff6b00;
    }
  }

  .burger_menu {
    display: none;
    cursor: pointer;
  }

  .nav_menu {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
  }

  .nav_links {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    transition: 0.5s ease-in-out;

    &:hover {
      color: #ff6b00;
    }
  }

  .page_container {
    position: relative;
    height: 580px;
    margin: auto;
    top: 58px;
    padding: 200px 140px;
    background: #1c1a19;
    background-image: url("Assets/Illustrations/Illustration-header.png");
    background-repeat: no-repeat;
    background-size: 41rem 50rem;
    background-position-x: right;
    background-position-y: 0;
  }

  .headline {
    display: flex;
    width: 48.3%;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  .main_text {
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Crete Round', serif;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.1rem;
    margin: 0;
    color: #ff6b00;
    width: 80%;
  }

  .subject_text {
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #fff5e1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.75rem;
    letter-spacing: 0.01em;
    margin: 0;
  }

  .description_text {
    width: 100%;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.01em;
    margin: 0;
    line-height: 2rem;
  }

  .social_media {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: none;
    order: 3;
    flex-grow: 0;
    height: 2.5rem;
    left: 2.25rem;
    top: 33%;
  }

  .portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: 130px 140px;
    gap: 24px;
    background: #e5e5e5;
  }

  .portfolio_title {
    font-family: 'Crete Round', serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.25rem;
    letter-spacing: 0.08rem;
    text-align: left;
    color: #091e42;
  }

  .portfolio_thumbnails {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    background: #e5e5e5;
  }

  .recent_works {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    margin-bottom: 80px;
  }

  .separation {
    width: 750px;
    margin-top: 32px;
    color: #121010;
  }

  .feature_project {
    width: 100%;
    height: 28rem;
    display: flex;
    justify-content: space-between;
  }

  .feature-project_preview_image {
    display: inline-block;
    background-image: url(Architectural.jpg);
    background-size: cover;
    height: 100%;
    width: 58.9%;
    left: 1.5rem;
    border-radius: 0.31rem;
  }

  .feature_project_info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 38.6%;
    height: 22rem;
  }

  .feature-project_title {
    font-family: 'Crete Round', serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.25rem;
    letter-spacing: 0.08rem;
    text-align: left;
    color: #091e42;
  }

  .feature-project_description {
    width: 100%;
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
  }

  .feature-project_skills {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .feature-skill_container {
    padding: 0.6rem 0.75rem;
    border: 0.06rem solid #1c1a19;
    margin-right: 0.75rem;
  }

  .feature-skill {
    font-family: 'Inter', serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.05em;
    color: #091e42;
  }

  .feature-project_link {
    width: 8rem;
    padding: 12px;
    border: none;
    color: #fff;

    &:enabled {
      background-color: #f55800;
    }

    &:hover {
      background-color: #fff5e1;
      border: 1px solid #f55800;
      color: #f55800;
      margin-bottom: -0.4%;
    }

    &:disabled {
      background: #f4f1f0;
      color: #5b5957;
    }

    &:active {
      background-color: #e05304;
      color: #fff;
    }
  }

  .feature-link_text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.06rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .project_container_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 28.1%;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(ecommerce.png);
    background-size: cover;
  }

  .project_container_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 28.1%;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(university.png);
    background-size: cover;
  }

  .project_container_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 28.1%;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(company.jpg);
    background-size: cover;
  }

  .project_container_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 28.1%;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(business.jpg);
    background-size: cover;
  }

  .project_container_5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 28.1%;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(banking.jpg);
    background-size: cover;
  }

  .project_container_6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    width: 28.1%;
    height: 24.1rem;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(trading.jpg);
    background-size: cover;
  }

  .project_title {
    font-family: 'Crete Round', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    line-height: 2.75rem;
    letter-spacing: 0.02em;
    margin-top: 4.5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align: left;
    color: #fff;
  }

  .project_description {
    font-family: 'Inter', serif;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align: left;
    color: #fff;
  }

  .project_skills {
    width: 15.4rem;
    height: 2.5rem;
    margin-left: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .skill_container {
    padding: 0.6rem 0.75rem;
    background: rgba(255, 255, 255, 0.24);
  }

  .skill {
    font-family: 'Inter', serif;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.25rem;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
  }

  .project_link {
    width: 100%;
    height: 3rem;
    left: 0;
    top: 0;
    border: none;
    color: #fff;

    &:enabled {
      background-color: #f55800;
    }

    &:hover {
      background-color: #fff5e1;
      border: 1px solid #f55800;
      color: #f55800;
    }

    &:disabled {
      background: #f4f1f0;
      color: #5b5957;
    }

    &:active {
      background-color: #e05304;
      color: #fff;
    }
  }

  .about_me {
    position: relative;
    height: 64rem;
    margin: auto;
    padding: 130px 140px;
    background: #1c1a19;
    background-image: url('Assets/Illustrations/desktop_about_me_illustration.png');
    background-repeat: no-repeat;
    background-size: 36.6rem 22.1rem;
    background-position-x: right;
    background-position-y: 8.1rem;
  }

  .about_me_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 48.9%;
    height: auto;
  }

  .bio_header {
    width: 20rem;
    font-family: 'Crete Round', sans-serif;
    font-size: 2.8rem;
    font-weight: 200;
    line-height: 5.1rem;
    letter-spacing: 0.07em;
    text-align: left;
    color: #f55800;
  }

  .bio {
    margin-top: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #f4f5f7;
    text-align: left;
  }

  .resume_link {
    text-decoration: none;
  }

  .resume_button {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
    border: none;
    background: #ff6b00;
    color: #fff;
    transition: transform 500ms;
    transition-timing-function: cubic-bezier(0.75, -3, 0.55, 4);

    &:enabled {
      background-color: #f55800;
    }

    &:hover {
      background-color: #fff5e1;
      border: 0.06rem solid #f55800;
      color: #f55800;
      transform: scale(0.9);
    }

    &:disabled {
      background: #f4f1f0;
      color: #5b5957;
    }

    &:active {
      background-color: #e05304;
      color: #fff;
    }
  }

  .link_text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.06rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .separation_line {
    width: 100%;
    position: relative;
    margin-top: 8.75rem;
    color: #f7f4f4;
  }

  .knowledge {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 8.6rem;
    gap: 2rem;
    margin: auto;
  }

  .category_style {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: left;
  }

  .bullet_1 {
    width: 1.12rem;
    height: 1.12rem;
    background: #ff6b00;
    transform: rotate(-45deg);
    margin-right: 0.9rem;
  }

  .bullet_2 {
    width: 1.12rem;
    height: 1.12rem;
    background: #ff6b00;
    margin-right: 0.8rem;
  }

  .bullet_3 {
    width: 1.12rem;
    height: 1.12rem;
    background: #ff6b00;
    border-radius: 9.3rem;
    margin-right: 0.8rem;
  }

  .category {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    list-style: none;
  }

  .competency {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    text-align: left;
    color: #fff;
    margin-top: 1.5rem;
    list-style: none;
  }

  .contact_me {
    display: flex;
    gap: 2%;
    margin: auto;
    padding: 130px 140px;
    background-color: #fff;
  }

  .contact-bio {
    display: inline-block;
    margin-top: 0;
    width: 38.9%;
    height: 330px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
  }

  .contact_me_form {
    display: inline-block;
    text-align: left;
    color: #172b4d;
    width: 60%;
    height: 373px;
  }

  #name-id,
  #email-id {
    width: 87%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5rem;
    border: none;
    outline: none;
    color: #979493;

    &:valid {
      outline: 0.09rem solid green;
    }
  }

  .seperation_line {
    width: 87%;
    border: 1px solid #dbd8d7;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .seperation_line_1 {
    width: 87%;
    border: 1px solid #dbd8d7;
    margin-top: 1.2rem;
    margin-bottom: 40px;
  }

  #text-area {
    background-color: #fbf8f7;
    height: 30%;
    width: 85%;
    border: none;
    margin-bottom: 24px;
    color: #3c3a39;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 15px;
    padding: 16px;
  }

  #submit {
    position: relative;
    padding: 12px;
    background-color: #ff6b00;
    border: none;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    transition: transform 500ms;
    transition-timing-function: cubic-bezier(0.75, -3, 0.55, 4);

    &:enabled {
      background-color: #f55800;
    }

    &:hover {
      background-color: #fff5e1;
      border: 1px solid #f55800;
      color: #f55800;
      transform: scale(1.02);
    }

    &:disabled {
      background: #f4f1f0;
      color: #5b5957;
    }

    &:active {
      background-color: #e05304;
      color: #fff;
    }
  }

  .seperate_line_2 {
    margin: auto;
    border: 1px solid #dbd8d7;
  }

  .footer {
    display: flex;
    padding: 1.1%;
    width: 97.7%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
  }

  .error_m {
    color: #f00909;
    display: block;
  }

  .success_m {
    color: #3bc456;
    display: block;
  }

  .contact-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 200px;
  }
}
